* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site-header {
  position: absolute;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1.5em;
  z-index: 5;
}

.site-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.site-header li {
  margin-left: 1em;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero .photo-placeholder {
  position: absolute;
  border: solid black 2px;
  min-width: 400px;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .project-hero-image {
  border: solid black 2px;
  width: 70vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

canvas {
  position: relative;
  z-index: 1;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 0, 0, 0.2);
}

.note-page-header {
  height: 50vh;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.under-hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 2em;
  margin-bottom: 5em;
}

.check-list ul {
  padding-bottom: 3em;
  list-style-position: outside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.check-list li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.check-list .side-by-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.check-list .un-finished {
  list-style: circle;
}

.check-list .finished {
  list-style: disc;
}

.project-title {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .5em;
}

.project-subhead {
  margin-bottom: 2em;
}

.project-details {
  grid-gap: 2em;
}

.project-details .project-images {
  grid-gap: .5em;
}

.project-details .project-images img {
  height: auto;
  max-width: 100%;
}

.grid-half-half {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid-two-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  grid-gap: 2em;
}

#cross {
  background: black;
  height: 10px;
  position: relative;
  width: 2px;
}

#cross:after {
  background: black;
  content: "";
  height: 2px;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 10px;
}

body {
  margin: 0;
}

::-moz-selection {
  color: white;
  background-color: #fd0330;
}

::selection {
  color: white;
  background-color: #fd0330;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 3em;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-bottom: .5em;
}

ul {
  list-style-type: "- ";
}

.inner-cursor {
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  border: 1px solid black;
  pointer-events: none;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
  z-index: 5;
}

.inner-cursor.grow {
  width: 30px;
  height: 30px;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 5;
}
/*# sourceMappingURL=style.css.map */